@import 'bootstrap/dist/css/bootstrap';

// .navbar {
//   height: 50% !important;
  
//   }

html,
body{
  height: 100%;
}

.nav-link{
  color:white !important;
}
#logo{
  color: white;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

iframe{
  background-color: black;
  
}






